---
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";

const { personalData } = Astro.props;
const personalImageAlt = `${personalData.firstName} ${personalData.lastName}`;

// Reemplazar variables dinámicas en el bio
let bio = personalData.bio
  .replace('{city}', personalData.city)
  .replace('{country}', personalData.country);

---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src={personalData.profileImage}
      alt={personalImageAlt}
    />
    <a
      href={personalData.linkedin}
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy {personalData.firstName} {personalData.lastName}
  </h1>
  <div
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
    
  />
  {bio}
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href={`mailto:${personalData.email}`}>
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href={personalData.linkedin}>
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href={personalData.cvUrl} download>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><polyline points="7 11 12 16 17 11" /><line x1="12" y1="4" x2="12" y2="16" /></svg>
      Descargar CV
    </SocialPill>
  </nav>
</div>
